@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.novidades {
    height: 1000px;
    box-shadow: 0px 4px 4px 0px #00000040;
    h1 {
        padding: 0;
        padding-bottom: 2.5rem;
    }
    img{
        width: 100%;
        height: 850px;
    }
}