@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;

}

header{
    position: relative;
    height: 160px;
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 100%;
}

.header-img{
        padding: 32px 16px;
}

ul{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: end;
    list-style: none;
    top: 65px;
    li{
        position: relative;
        padding-right: 40px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 20px;
    }

}

#menu{
    display: none;
}


@media (max-width : 768px){
    #menu{
        position: absolute;
        display:block;
        width: 7.5%;
        right: 0;
        margin-right: 5%;
        top: 40%;
    }
    ul{
        display: none;
    }
    
}