@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

footer {
    .footer-geral {
        width: 100%;
        height: 400px;
        display: flex;
    }

    .atendimento {
        width: 250px;
        height: 80%;
        margin-left: 5.5rem;
        margin-top: 6rem;

        h1 {
            font-family: "Roboto", sans-serif;
            font-size: 24px;
            align-items: start;
            padding: 0;
            text-align: start;
            font-weight: 700;
            color: #2D2D2D;
            padding-bottom: 1rem;
        }

        .p-atendimento {
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            font-size: 20px;
            color: #2D2D2D;
            padding: 10px 0;
        }
    }

    .pagamento {
        width: 350px;
        margin-top: 6rem;
        margin-left: 16rem;

        h1 {
            font-family: "Roboto", sans-serif;
            font-size: 24px;
            align-items: start;
            padding: 0;
            text-align: start;
            font-weight: 700;
            color: #2D2D2D;
            padding-bottom: 1rem;
        }

        img {
            margin-top: -2rem;
            width: 90px;
        }

        #visa {
            position: relative;
            top: 22px;
            margin-left: 16px;
            margin-right: 16px;
        }

        #boleto {
            margin-top: 1.5rem;
        }
    }

    .sociais {
        width: 400px;
        margin-top: 6rem;
        margin-left: 16rem;

        h1 {
            font-family: "Roboto", sans-serif;
            font-size: 24px;
            align-items: start;
            padding: 0;
            text-align: start;
            font-weight: 700;
            color: #2D2D2D;
            padding-bottom: 1rem;
        }

        .icons-sociais {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }
    }

    @media (max-width: 768px) {
        height: 400px;
        .footer-geral {
            flex-wrap: wrap;
            flex-direction: row;
            height: auto;
        }

        .atendimento,
        .pagamento{
            width: 50%;
            margin-top: 3rem;
            margin-left: 0;
            h1{
                font-size: 20px;
            }
            .p-atendimento{
                font-size: 16px;
            }
        }
        .sociais{
            margin-left: 2rem;
            margin-top: 1rem;
        }
        .pagamento{
            .icons-pagamento{
                width: 85%;
            }
            margin-left: -10%;
            img{
                width: 25%;
            }
        }

        .atendimento{
            padding-left: 2rem;
        }
    }

}